/* Arrow Icon */
header{
 .arrow-icon {
  font-size: 1.5rem;
  color: $dark-gray;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
} 
}


/* Main content styles */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 150px;
    height: auto;
  }

.logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.restaurant-image {
  width: 100%;
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: -1; 
}

  .restaurant-section {
    width: 100%;
    background-color: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1.5rem;
    margin-top: -2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    .restaurant-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .menu-category {
      margin-bottom: 2rem;

      h2 {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;

        &::after {
          content: '';
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 2px;
          background-color: $primary-color;
        }
      }

      .underline {
        display: none;
      }

      .menu-items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;

        .menu-item {
          width: 100%;
          background-color: $light-gray;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          h3 {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p {
            font-size: 1rem;
            color: $gray;
            margin-bottom: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          span {
            font-size: 1rem;
            font-weight: bold;
            color: $dark-gray;
            display: block;
            text-align: right;
          }
        }
      }
    }

    .order-button {
      text-align: center;

      .btn {
        width: 200px;
      }
    }
  }
}

/* CSS pour les animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-category {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

#entrees {
  animation-delay: 0.5s; /* Délai pour les entrées */
}

#plats {
  animation-delay: 1s; /* Délai pour les plats */
}

#desserts {
  animation-delay: 1.5s; /* Délai pour les desserts */
}

.custom-button {
  display: block;
  width: 100%;
  max-width: 90%;
  padding: 20px;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  text-align: left;
  cursor: pointer;
  position: relative;
  overflow: hidden; // Assure que l'animation reste dans les limites du bouton

  &:hover {
    background-color: #2980b9;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0; // Commence avec une largeur de 0
      background-color: #27ae60;
      animation: fill-button 1s forwards; // Anime l'élargissement
    }
  }

  @keyframes fill-button {
    to {
      width: 16.67%; // S'étend jusqu'à 1/6ème de la largeur du bouton
    }
  }
}

.button-content {
  display: flex;
  flex-direction: column; // Dispose le titre et le sous-titre en colonne
  width: 100%;
  position: relative; // Assure que l'animation reste en dessous
  z-index: 1; // Garde le texte et le prix visible au-dessus de l'animation
}

.button-title {
  margin: 0;
  font-size: 24px;
}

.subtitle-price-container {
  display: flex;
  justify-content: space-between; // Espace entre le sous-titre à gauche et le prix à droite
  align-items: center;
  position: relative; // Assure que les éléments sont positionnés correctement
  width: 100%;
  overflow: hidden; // Cache les éléments qui dépassent du conteneur
}

.subtitle-wrapper {
  flex: 1; // Permet au sous-titre de prendre l'espace disponible
  display: flex;
  align-items: center;
  overflow: hidden; // Cache le texte qui dépasse
}

.button-subtitle {
  margin: 0;
  font-size: 18px; // Taille du sous-titre
  color: #ecf0f1;
  white-space: nowrap; // Empêche le texte de se couper en plusieurs lignes
  overflow: hidden; // Cache le texte qui dépasse
  text-overflow: ellipsis; // Remplace le texte débordant par des points de suspension
  transition: text-overflow 0.3s; // Transition pour le texte débordant

  .custom-button:hover & {
    text-overflow: ellipsis; // Remplace le texte débordant par des points de suspension lors du survol
  }
}

.button-price {
  font-size: 18px; // Même taille que le sous-titre
  font-weight: bold; // Le prix en gras
  transition: transform 0.3s; // Animation de déplacement
  white-space: nowrap; // Empêche le texte de se couper en plusieurs lignes
  margin-left: 10px; // Marge pour éviter que le prix touche le sous-titre

  .custom-button:hover & {
    transform: translateX(-100%); // Déplace le prix complètement hors de l'écran lors du survol
  }
}
