@charset "UTF-8";
/* Variables */
/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  margin: 0 auto;
  max-width: 1200px; /* Limite la largeur pour éviter que le contenu soit trop large */
}

h1, h2, h3 {
  font-family: "Shrikhand", cursive;
}

h1 {
  color: black;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #353535;
}

p {
  font-size: 1rem;
  color: #808080;
}

/* Button styles */
.btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: rgba(52, 152, 219, 0.8); /* Couleur de fond éclaircie avec opacité */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Ombre portée augmentée */
  opacity: 0.9; /* Réduction de l'opacité pour l'effet d'éclaircissement */
}

.favorite-icon {
  font-size: 1.5rem;
  color: #808080;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.favorite-icon:hover {
  color: #9356DC;
  transform: scale(1.2);
}

/* Header styles */
header {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .logo {
  width: 150px;
  height: auto;
}

/* Footer */
.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer .footer-content .footer-logo {
  margin-bottom: 1rem;
}
.footer .footer-content .footer-logo img {
  width: 150px;
  height: auto;
  filter: brightness(0) invert(1);
}
.footer .footer-content .footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .footer-content .footer-links .footer-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-links .footer-link i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.footer .footer-content .footer-links .footer-link .contact-button {
  text-decoration: none;
}

/* Responsive for Desktop */
@media (min-width: 1024px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0rem;
  }
  .header-container .logo {
    height: 50px;
  }
  /* Footer */
  .footer .footer-content {
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer .footer-content .footer-logo {
    order: 2;
    margin-bottom: 0;
  }
  .footer .footer-content .footer-links {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    margin-right: 3rem;
  }
}
/* Styles communs à toutes les pages */
/* Loader qui couvre toute la page */
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 10000;
  animation: loader 3s forwards;
}

/*Animation loader*/
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader__circle {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(0, 0, 29);
  border-bottom: 10px solid blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear forwards;
  /*Placement du loader au milieu de la page*/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*Animation du loader circle*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
.location-container {
  background-color: #F6F6F6;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.3);
}
.location-container .location-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #9356DC;
}
.location-container .location-text {
  font-size: 1rem;
  color: #333;
}

/* Main content styles */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .main-content {
  text-align: center;
  padding: 2rem;
}

.intro {
  text-align: center;
}

.intro-title {
  display: inline-block;
  line-height: 1.2;
  margin: 15px auto;
  max-width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
}

.intro-paragraph {
  text-align: center;
  max-width: 80%;
  margin: 15px auto;
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Fonctionnement section */
.fonctionnement {
  background-color: #ffffff;
  padding: 2rem 4.2rem;
}
.fonctionnement h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #353535;
}
.fonctionnement .F-boutons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.fonctionnement .F-boutons .F-bouton {
  position: relative;
  display: flex;
  align-items: center;
}
.fonctionnement .F-boutons .F-bouton .step-number {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2a9df4;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.fonctionnement .F-boutons .F-bouton .step-button {
  background-color: #F6F6F6;
  border: none;
  padding: 1.75rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #353535;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.fonctionnement .F-boutons .F-bouton .step-button i {
  font-size: 1.25rem;
}
.fonctionnement .F-boutons .F-bouton .step-button:hover {
  background-color: white;
  transform: scale(1.05);
}

/* Restaurants section */
.restaurant-card {
  text-decoration: none;
  color: inherit;
}

.restaurants {
  padding: 4rem 0;
}
.restaurants h2 {
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #353535;
  padding-left: 1rem;
}
.restaurants .Card-Menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.restaurants .card {
  width: 95%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.restaurants .card:hover {
  transform: translateY(-5px);
}
.restaurants .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}
.restaurants .card .card-details {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.restaurants .card .card-details .title-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.restaurants .card .card-details .title-container h3 {
  font-size: 1rem;
  color: black;
  margin-bottom: 0;
}
.restaurants .card .card-details .title-container p {
  display: flex;
  font-size: 1rem;
  color: #808080;
  margin-bottom: 0;
  padding: 0;
}

/* Responsive for Desktop */
@media (min-width: 1024px) {
  header,
  main,
  .fonctionnement .F-boutons .F-bouton .step-button {
    font-size: 1rem;
  }
  .fonctionnement,
  .restaurants {
    padding: 0 5rem;
  }
  .location-container {
    width: auto;
    padding: 0.5rem 1rem;
    box-shadow: none;
  }
  /* Main Content */
  .intro {
    padding: 3rem 10rem;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  .intro p {
    font-size: 1.2rem;
  }
  .intro .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
  /* Fonctionnement Section */
  .fonctionnement {
    padding: 3rem 15rem;
  }
  .fonctionnement .F-boutons {
    flex-direction: row;
    gap: 2rem;
  }
  .fonctionnement .F-boutons .F-bouton {
    flex: 1;
  }
  .fonctionnement .F-boutons .F-bouton .step-button {
    padding: 2rem 5rem;
    font-size: 1rem;
  }
  .fonctionnement .F-boutons .F-bouton .step-button i {
    font-size: 1.5rem;
  }
  /* Restaurants Section */
  .restaurants {
    padding: 3rem 15rem;
  }
  .restaurants .Card-Menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .restaurants .Card-Menu .card {
    width: 100%;
  }
  .restaurants .Card-Menu .card img {
    height: 200px;
  }
  .restaurants .Card-Menu .card .card-details {
    padding: 1rem;
  }
  .restaurants .Card-Menu .card .card-details .title-container h3 {
    font-size: 1.25rem;
  }
  .restaurants .Card-Menu .card .card-details .title-container p {
    font-size: 1rem;
  }
  .restaurants .Card-Menu .card .card-details .favorite-icon {
    font-size: 1.5rem;
  }
  .contact-button {
    text-decoration: none;
  }
}
/* Styles spécifiques à la page d'accueil */
/* Arrow Icon */
header .arrow-icon {
  font-size: 1.5rem;
  color: #353535;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

/* Main content styles */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .logo {
  width: 150px;
  height: auto;
}
main .logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
}
main .restaurant-image {
  width: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}
main .restaurant-section {
  width: 100%;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1.5rem;
  margin-top: -2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main .restaurant-section .restaurant-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
main .restaurant-section .restaurant-info h1 {
  font-size: 2rem;
  font-weight: bold;
}
main .restaurant-section .menu-category {
  margin-bottom: 2rem;
}
main .restaurant-section .menu-category h2 {
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
main .restaurant-section .menu-category h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #9356DC;
}
main .restaurant-section .menu-category .underline {
  display: none;
}
main .restaurant-section .menu-category .menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
main .restaurant-section .menu-category .menu-items .menu-item {
  width: 100%;
  background-color: #F6F6F6;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main .restaurant-section .menu-category .menu-items .menu-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .restaurant-section .menu-category .menu-items .menu-item p {
  font-size: 1rem;
  color: #808080;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .restaurant-section .menu-category .menu-items .menu-item span {
  font-size: 1rem;
  font-weight: bold;
  color: #353535;
  display: block;
  text-align: right;
}
main .restaurant-section .order-button {
  text-align: center;
}
main .restaurant-section .order-button .btn {
  width: 200px;
}

/* Styles spécifiques à la page de menu */

/*# sourceMappingURL=styles.css.map */
